.contact-container{
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), /* camada de opacidade escura */
        url('./static/porto_beauty.jpg');
    
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    width: 85vw; /* Define uma largura inicial */
    opacity: 0; /* Define a opacidade inicial como 0 */
    transform: translateY(10px); /* Define a posição inicial 50 pixels abaixo */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transição suave para opacidade e posição */
    transform: scale(1);
    box-shadow: 0 8px 24px rgba(255, 255, 255, 0.2);

}
.contactContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: flex-start;
    left: 0;
}
.email-info {
    position: relative; /* Necessário para o posicionamento do pseudo-elemento */
    display: flex;
    justify-content: space-around;
    padding: 20px;
    
    width: 90vw;
    overflow: hidden; /* Garante que o pseudo-elemento não ultrapasse os limites do contêiner */
}

.email-info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(0.4);
    z-index: -3;
    background-image: var(--background-image, none); /* Usa uma variável CSS */
}

.contact-title {
    color: white;
    display: flex;
    justify-content: center;
   
    padding-top: 10%;
    
}
.title-container{
   
    height: auto;
    
}

.message-contact{
    display: flex;
    flex-direction: column;

    width: auto;
    padding-bottom: 10%;
    height: 100%;
    font-size: 20px;
}

.email-box{
    width: 40vw;
    height: auto;
    display: flex;
  justify-content: center;
    
    gap: 5%;
}

.caixa-texto{
    width: 30vw;
    height: 20vh;
    padding: 15px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid black;
}

.name-container{
    display: flex;
    flex-direction: column;
}

.your-email
{
    padding: 15px;
    font-size: 16px;
    width: 40vw;
    border-radius: 10px;
    border: 1px solid black;
    
}
.your-email-container{
    display: flex;
    flex-direction: column;
}

.message-box-container{
    display: flex;
    flex-direction: column;
    
}

.submit-email {
    margin-top: 10px;
    width: 20vh;
    padding: 0.85rem 0.775rem;
    justify-content: space-between;
    z-index: 0;
    background-color: #12AED0;
    border-radius: 1.875rem;
    min-width: 275px;
    font-size: .875rem;
    transition: all .5s ease-in-out 0s;
    cursor: pointer;
    opacity: 1; /* Certifique-se de que a opacidade inicial é 1 */
    transition: opacity 0.5s ease; /* Transição suave para a opacidade */
    color: white;
    border: 2px solid #81d1e0 ;
}

.submit-email:hover {
    background: linear-gradient(139.39deg,#12AED0 50%, #CFF3FA 100%);
    font-weight: 547;
    border: 2px solid #81d1e0 ;
}

@media (max-width: 1000px) {

    
    .name-container{
        width: auto; /* Ajusta a largura para telas menores */
        display: flex;
        align-items: center;
        
    }
    .contact-container {
        width: auto; /* Ajusta a largura para telas menores */
        height: 100vh;
        width: 85vw;
        background-size: cover;
        opacity: 1;
    }
    .email-info {
        position: relative; /* Necessário para o posicionamento do pseudo-elemento */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 5px;
        
        width: auto;
        overflow: hidden; /* Garante que o pseudo-elemento não ultrapasse os limites do contêiner */
    }
    .email-box{
        transform: scale(0.8);
        flex-direction: column;
        width: auto;
        gap: 0%;
    }
    .caixa-texto{
        transform: scale(0.8);
        width: 100%;
    }
    .your-email{
        transform: scale(0.8);
        width: 100%;
    }

    .message-contact{
        
        align-items: left;
        
        opacity: 1;
    }
    .message-contact span{
        font-size: 16px;
        margin-top: 20px;
    }

    .contact-title {
        color: white;
        display: flex;
        justify-content: center;
        font-size: 20px;
        padding-top: 10%;
    }

    .submit-email {
        margin-top: 10px;
        width: 20vh;
       
        justify-content: space-between;
        z-index: 0;
        background-color: #12AED0;
        border-radius: 1.875rem;
        min-width: 100px;
        font-size: .675rem;
        transition: all .5s ease-in-out 0s;
        cursor: pointer;
        opacity: 1; /* Certifique-se de que a opacidade inicial é 1 */
        transition: opacity 0.5s ease; /* Transição suave para a opacidade */
        color: white;
        border: 2px solid #81d1e0 ;
    }
}

@media (max-width: 650px){
    .contact-container{
        height: 120vh;
    }
}

@media (max-width: 390px){
    .contact-container{
        height: 140vh;
    }
}
