@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maharlika&display=swap');
@import url('./desktop/about.css');
@import url('./desktop/services.css');
@import url('./desktop/contact.css');
@import url('./desktop/footer.css');
@import url('./mobile/navbarmobile.css');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body
{
    height: auto;
    font-family: 'Poppins';
    color: white;
    overflow-x: hidden;
} 

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.landing
{
    width: 100vw;
    height: 100vh;
    
}

.nav-link {
    position: relative;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}


.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #CFF3FA;
    transition: width 0.3s 0.1s, left 0.3s 0.1s;
}

.nav-link.active::after {
    width: 100%;
    left: 0;
}

.nav-link.active {
    color: #CFF3FA;
}

.container {
    position:relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: top;
    
}

.dg .close-button {
    display: none;
}

.content{
    display: flex;
    gap: 5em;
    width: 100%;
    position: fixed;
    overflow-x: hidden;
    height: 15vh;
    background-color: #12AED0; 
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out, background-position 0.5s ease-in-out, height 0.5s ease-in-out;
    z-index: 3;
    overflow-y: hidden;
}

.content:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #CFF3FA;
    transform: scaleX(0);
    animation: borderAnimation 1s ease-in-out forwards;
    overflow-y: hidden;
}

.content-hidden {
    background-color: rgba(255, 255, 255, 0.2);    
    background-position: 0 -100%;
    height: 12vh;
    transform: translateY(-15%);
    overflow-y: hidden;
}

.socials-container {
    height: 15vh;
    display: flex;
    justify-items: right;
    justify-content: right;
    align-items: center;
    position: relative;
    left: 80%;
    flex-direction: row;
    text-align: center;
    gap: 10px;
    overflow-x: hidden;
}



.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    justify-items: center;
    position: absolute;
    overflow-x: hidden;
    height: 15vh;
    
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: 0;
    justify-content: space-around;
}

 .socialsul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    text-align: right;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: space-around;
    border-bottom: 1px solid #CFF3FA;
    border-right: 1px solid #CFF3FA;
    border-radius: 10px;
} 

li {
    float: left;
}

/* .navbar-ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} */

.socialsul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1px;
    text-decoration: none;
}


.logo-container {
    position: fixed;
    left: 10%;
    height: auto;
    width: 9vw; /* largura relativa ao viewport (tamanho do ecrã) */
    max-width: 200px;
    display: flex;
    height: 15vh;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: -4.5px;
    transform: scaleX(1.1);
    line-height: 1;
}

/* Imagem dentro do logo responsiva */
.logo-container img {
    width: 100%;
    height: auto;
    
    object-fit: contain;
    position: relative;
    transform: scale(2.7);
}

.zoomable {
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}

.zoomable {
    transform: scale(1.5); /* Aplica o zoom de 1.5x quando o mouse passa sobre a imagem */
}


.knowMore-button {
    clip-path: polygon(0 0, 100% 0,100% 0, 0 0);
    
}

p {
    font-size: 2.5rem;
    width: 100%;
    text-align: left;
}
.navbar-mobile {
    display: none;
}

.mobile-menu{
    display: none;
}

.menu-icon, .close-icon {
    cursor: pointer;
}

.menu-icon {
    display: none;
}

.close-icon {
    display: none;
}

.mobile-menu.active {
    right: 0;
}


.mission-container {
    margin-top: 20vh;
    height: 20vh;
    display: flex;
    margin-left: 5%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    
    
}

.knowMore-button {
    display: none;
    width: 20vh;
    padding: 1.25rem 1.875rem;
    display: flex;
    justify-content: space-between;
    background-color: #CFF3FA;
    border-radius: 1.875rem;
    min-width: 275px;
    font-size: .875rem;
    font-weight: 800;
    cursor: pointer;
    border:none;
    opacity: 1; /* Certifique-se de que a opacidade inicial é 1 */
    
}
.knowMore-button:hover {
    
    font-weight: 900;
    
    border: 2px solid #81d1e0 ;
    
}

.leftBottom{
    display: flex;
    gap: 5px;
}

.scroll-button {
    display: none; /* Esconde o botão por padrão */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    padding: 7px 10px;
    font-size: 16px;
    background-color: #CFF3FA;
    color: black;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 0.3s ease; /* Transição suave para a opacidade */
}

.scroll-button:hover {
    border: 1px solid #CFF3FA;
    color: black;
    background-color: white;
}







.number_count_container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    
}

.container-number{
    display: grid;
    width: 50vw;
    margin-top: 10vh;
    grid-template-columns: repeat(3, 1fr); /* 4 colunas de largura igual */
    gap: 5vw; /* Espaçamento entre os itens */
    padding: 20px;
   
    
}

.grid-item {
    border-bottom: 1px solid #81d1e0;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
.grid-item-number {
    margin-top: 10px; /* Espaçamento acima do número */
    font-size: 2rem; /* Tamanho da fonte do número */
    color: #CFF3FA; /* Cor do número */
    font-weight: 300;
}
/* filepath: c:\Users\Pina\Documents\Evolve3\evolve-repository\src\style.css */
.grid-item-number::before {
    content: "+";
    margin-right: 5px;
}

.meetOurTeam{
    display: flex;
    flex-direction: column;
    opacity: 0;
}

.button-team {
    color: #CFF3FA;
    background-color: transparent;
    transition: 0.3s;
    font-size: 24px;
    border:none;
    cursor: pointer;
    margin-top: 20px;
}

.button-team:hover {
    color: #CFF3FA;
    border-radius: 100px;
    border: 1px solid #CFF3FA;
    padding: 5px;
}
@keyframes borderAnimation {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}



@media (max-width: 1230px){
    .logo-container {
        position: fixed;
        left: 10%;
        height: auto;
        width: 9vw; /* largura relativa ao viewport (tamanho do ecrã) */
        max-width: 300px;
        margin-top: 3vh;
        height: 10vh;
    }
}
@media (max-width: 1000px) {
    html,
    body
    {
        height: 110vh;
        font-family: 'Poppins';
        color: white;
        overflow-x: hidden;
    
    }
    h1 {
        font-size: 2.5rem;
        
    }
    
    p {
        font-size: 1.2rem;
    }

    .knowMore-button{
        display: none;
        width: 250px;
        height: 50px;
        gap: 20px;
        padding: 20px; 
        align-items: center;
        display: flex;
        justify-content: space-between;
        background-color: #CFF3FA;
        border-radius: 1.875rem;
        min-width: 100px;
        font-size: .6175rem;
        cursor: pointer;
        border:none;
        opacity: 1; /* Certifique-se de que a opacidade inicial é 1 */
    }

    .scroll-button {
        display: block; /* Esconde o botão por padrão */
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 100;
        padding: 7px 10px;
        font-size: 16px;
        background-color: #CFF3FA;
        color: black;
        border:none;
        border-radius: 5px;
        cursor: pointer;
        opacity: 0; /* Inicialmente invisível */
        transition: opacity 0.3s ease; /* Transição suave para a opacidade */
    }
    .scroll-button:hover {
        border: 1px solid #CFF3FA;
        color: black;
        background-color: white;
    }

    .socials-container {
        display: none;
    }
    .navbar-mobile {
        font-size: 3rem;
        display: flex;
        width: 100%;
        padding-top: 6vh;
        padding-right: 6vh;
        overflow: hidden;
        justify-content: flex-end; 
        align-items: top; 
        position: fixed;
        z-index: 1001;
        
        
    }

    .menu-icon {
        cursor: pointer;

    }

    .mobile-menu {
        position: fixed;
        padding-top: 10vh; /* garante que não há espaço no topo */
        justify-content: flex-start; /* já está, mas reforçamos */
        align-items: stretch; /* opcional, para garantir largura total dos links */
        right: -100%;
        width: 50%;
        height: 100%;
        background-color: transparent;
        background-image: url("./assets/background_evolve.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
        transition: right 0.3s ease;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        
        
        
    }
    .mobile-link {
        display: flex;
        align-items: center;
        gap: 10px; /* espaço entre o ícone e o texto */
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
        width: 100%;
        justify-content: space-between;
      }

    .logo-container-mobile{
        
    }
    /* Imagem dentro do logo responsiva */
    .logo-container img {
        display: none;
    }

    .menu-icon.active, .close-icon.active {
        display: block;
    }

    .mobile-menu.active {
        right: 0;
    }

    .mobile-menu a {
    
        padding: 15px 20px;
        background-color: #12AED0;
        text-decoration: none;
        color: white;
        font-size: 0.8rem;
        border-top: 2px solid #ddd;
       

    }

    .mobile-menu a:hover {
        background-color: #f0f0f0;
    }

    .logo-container {
        
    }

    .number_count_container{
         margin-top: 5rem;
         display: flex;
         flex-direction: column;
         align-items: center;
         height: 200px;
         
     }

    .container-number{
        display: grid;
        width: 100vw;
        grid-template-columns: repeat(3, 1fr); /* 4 colunas de largura igual */
        gap: 5vw; /* Espaçamento entre os itens */
        padding: 20px;
       
        
    }

    .grid-item {
        border-bottom: 1px solid #81d1e0;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        
        font-size: 1.2rem;
    }
    .grid-item-number {
        margin-top: 10px; /* Espaçamento acima do número */
        font-size: 1.5rem; /* Tamanho da fonte do número */
        color: #CFF3FA; /* Cor do número */
        font-weight: 300;
    }
    .navbar{
     display: none;
    }
    
}

@media (max-width: 715px) {
   
    .knowMore-button{
        display: none;
        width: 200px;
        height: 50px;
        gap: 20px;
        padding: 20px; 
        align-items: center;
        display: flex;
        justify-content: space-between;
        background-color: #CFF3FA;
        border-radius: 1.975rem;
        min-width: 100px;
        font-size: .8175rem;
        cursor: pointer;
        border:none;
        opacity: 1; /* Certifique-se de que a opacidade inicial é 1 */
    }

    .mission-text{
        font-size: x-large;
    }
    .navbar-mobile {
        font-size: 2.8rem;
        display: flex;
        width: 100%;
        padding-top: 5vh;
        right: 5vh;
        overflow: hidden;
        justify-content: flex-end; 
        align-items: top; 
        position: fixed;
    }

   .grid-item {
       border-bottom: 1px solid #81d1e0;
       padding: 10px;
       text-align: center;
       border-radius: 10px;
       
       font-size: 0.7rem;
   }
   .logo-container {
        font-size: 2rem;
        letter-spacing: -3px;
    }
   
}

@media (max-width: 470px) {

    .content{
        display: flex;
        gap: 5em;
        width: 100%;
        position: fixed;
        overflow-x: hidden;
        height: 10vh;
        background-color: #12AED0; 
        transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out, background-position 0.5s ease-in-out, height 0.5s ease-in-out;
        z-index: 3;
        overflow-y: hidden;
    }
    
    .grid-item {
        border-bottom: 1px solid #81d1e0;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        font-size: 0.5rem;
    }
    .grid-item-number {
        margin-top: 10px; /* Espaçamento acima do número */
        font-size: 1rem; /* Tamanho da fonte do número */
        color: #CFF3FA; 
        font-weight: 300;
    }
    .knowMore-button{
        display: none;
        width: 200px;
        
        height: 50px;
        gap: 20px;
        padding: 20px;
        margin-bottom: 30px;
        align-items: center;
        display: flex;
        justify-content: space-between;
        background-color: #CFF3FA;
        border-radius: 1.875rem;
        min-width: 100px;
        cursor: pointer;
        border:none;
        opacity: 1;
    }

    .navbar-mobile {
        font-size: 2.2rem;
        display: flex;
        width: 100%;
        padding-top: 3vh;
        overflow: hidden;
        justify-content: flex-end; 
        align-items: top;
        right: 3vh;
        position: fixed;
    }

    .logo-container {
        font-size: 2rem;
        margin-top: 1vh;
        letter-spacing: -3px;
    }

    
}

@media (max-width: 430px){
    .logo-container{
        margin-top: 0;
        left: 20%;
    }
}
@media (max-width: 375px) {

    .content{
        display: flex;
        gap: 5em;
        width: 100%;
        position: fixed;
        overflow-x: hidden;
        height: 10vh;
        background-color: #12AED0; 
        transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out, background-position 0.5s ease-in-out, height 0.5s ease-in-out;
        z-index: 3;
        overflow-y: hidden;
    }
    
    .grid-item {
        border-bottom: 1px solid #81d1e0;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        font-size: 0.5rem;
    }
    .grid-item-number {
        margin-top: 10px; /* Espaçamento acima do número */
        font-size: 1rem; /* Tamanho da fonte do número */
        color: #CFF3FA; 
        font-weight: 300;
    }
    .knowMore-button{
        display: none;
        width: 200px;
        
        height: 50px;
        gap: 20px;
        padding: 20px;
        margin-bottom: 30px;
        align-items: center;
        display: flex;
        justify-content: space-between;
        background-color: #CFF3FA;
        border-radius: 1.875rem;
        min-width: 100px;
        cursor: pointer;
        border:none;
        opacity: 1;
    }

    .navbar-mobile {
        font-size: 1.5rem;
        display: flex;
        width: 100%;
        padding-top: 25px;
        overflow: hidden;
        justify-content: flex-end; 
        align-items: top;
         right: 5%;
        position: fixed;
    }

    .logo-container {
        
    }
    
}